.hCardBuilderContainer {
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    height: 100vh;
    vertical-align: middle;
}

.hCardPreviewContainer {
    background-color: lightblue;
    padding-right: 0;
    padding-left: 5%;
    height: 100vh;
}

.centerElement {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
